{% load sekizai_tags %}

{% addtoblock "file_js"%}
<script type="text/javascript" src="/media/test.js" > </script>
<script type="text/javascript" src="/media/ajax.js" > </script>
{% endaddtoblock%}

<div class="timer">
    <h3>timer plugin</h3>
    <span class="timeritem hour">{{now.hour}}</span>:
    <span class="timeritem minute">{{now.minute}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="timeritem day">{{now.day}}</span>.
    <span class="timeritem month">{{now.month}}</span>.
    <span class="timeritem year">{{now.year}}</span>
    
    <div class="timerdata invisible">
    {"restUrl":"{{data.rest_url}}", "bkgCol":"{{data.background}}", "interval":{{data.interval}} }
    </div>

</div>