/* 
not in a seperate folder for now 
but will be later
*/
.nav {
    padding-left: 0;
}
.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.container {
    width: 940px;
    margin: 0 auto;
    background-color: red;
    border: 5px solid;
}
.content {
    float: left;
    width: 80%;
}
.sidebar {
    float: left;
    width: 20%;
}
.column {
    min-height: 1px;
}

.timeritem {
    display:inline;
    border: 1px solid black;
}