{% load cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% render_block "css" %}
        <!-- base cms styles first to overwrite with custom -->
        <link rel="stylesheet" type="text/css" href="/media/base.css">
        {% render_block "file_js" %}
    </head>
    <body>
        {% cms_toolbar %}
        <div class="container">
        Menu
            <ul class="nav">
                {% show_menu 0 100 100 100 %}
            </ul>
        </div>
        <div class="container">{% block content %}{% endblock content %}</div>
        <!-- JS at the and of the page ... by god who does that anymore o_0
        window.onload() is not hard =/ -->
        {% render_block "js" %}
    </body>
</html>
